.rewrite-greeting {
  /* 隐藏原组件的快捷入口列表 */
  .nlux-conversationStarters-container { 
    display: none;
  }
}
/* 初次进入时，重写欢迎页面的布局及快捷入口 */
.initial-greeting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .greeting-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    .greeting-icon {
      width: 50px;
      height: 50px;
      background-size: 100%;
    }
    .greeting-text {
      line-height: 1.3;
      font-weight: 600;
      font-size: 23px;
    }
    .greeting-text-name {
      display: inline-block;
      background: linear-gradient(270deg, #ae79cc 3%, #1366ec 96%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    .greeting-text-hello {
      margin-top: 10px;
      font-size: 15px;
      font-weight: 400;
      color: #666;
    }
  }
  .greeting-quick-start {
    flex: 1;
    max-width: 100%;
    height: 0;
    overflow-y: auto;
    padding: 0 20px;
    margin-top: 48px;
    margin-bottom: 20px;
    .quick-start-item {
      margin-bottom: 12px;
      line-height: 28px;
      padding: 11px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 2px;
      border: 1px solid #e5effe;
      cursor: pointer;
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      i {
        line-height: 1;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    .quick-start-item:hover {
      background: linear-gradient(61deg, rgba(229, 239, 254, .5) -24%, rgba(238, 235, 255, .5) 127%);
    }
  }
}
/* 自定义按钮 */
.custom-buttons-container {
  display: flex;
  gap: 10px;
  justify-content: start;
}

.custom-button {
  padding: 8px 16px;
  border: 1px solid #e5effe;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}