.nlux-AiChat-root {
  --nlux-chtr--ftSz: 14px;
  --nlux-prmInp--ftFm: 14px;
}
.nlux-AiChat-root.nlux-theme-nova {
  --nlux-PromptInput--FontSize: 14px;
}
.nlux-launchPad-container>.nlux-comp-welcomeMessage {
  flex: 1;
  padding: 0 26px 0 26px;
  align-items: start;
  width: auto;
}
.nlux-comp-welcomeMessage>.nlux-comp-welcomeMessage-personaName {
  font-size: 23px;
  background: linear-gradient(270deg, #ae79cc 3%, #1366ec 96%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nlux-comp-welcomeMessage>.nlux-comp-welcomeMessage-text {
  margin-top: 16px;
  color: #666;
}
.nlux-conversationStarters-container>.nlux-comp-conversationStarters {
  display: block;
  padding: 0 26px 0 26px;
  min-width: inherit;
  width: inherit;
}
.nlux-conversationStarters-container>.nlux-comp-conversationStarters button.nlux-comp-conversationStarter {
  height: auto;
  width: auto;
  margin-bottom: 12px;
  border-radius: 8px;
  background: #f2f4ff;
  font-size: 14px;
  color: #666;
}

.nlux-AiChat-root>.nlux-chatRoom-container>.nlux-composer-container {
  border-top: 1px solid #eee;
}

.nlux-comp-composer>textarea:placeholder {
  color: #eee;
}

.nlux-comp-chatItem.nlux-comp-chatItem--bubblesLayout.nlux-comp-chatItem--sent>.nlux-comp-message {
  border-radius: 8px;
  background: #e5effe;
  color: #555;
}

.nlux-comp-chatItem.nlux-comp-chatItem--bubblesLayout.nlux-comp-chatItem--received>.nlux-comp-message {
  border-radius: 8px;
  color: #555;
}

.nlux-comp-message > .nlux-markdownStream-root h3 {
  font-size: 15px;
  line-height: 20px;
}

.nlux-comp-message > .nlux-markdownStream-root ol > li {
  list-style-type: inherit !important;
  list-style-position: inside !important;
}

.nlux-comp-message > .nlux-markdownStream-root ul > li {
  list-style-type: disc !important;
  list-style-position: inside !important;
}

.nlux-comp-message > .nlux-markdownStream-root ul > li::marker {
  content: "•";
}

.nlux-conversation-container {
  padding-left: 10px;
}

.nlux-conversation-container img {
  max-width: 100%;
}

.nlux-conversation-container th, .nlux-conversation-container td {
  padding: 4px;
  border: 1px solid #CCC;
}
